
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    -->
    <style>
        body {
            overflow-y: hidden;
        }

        .metro .tile-area {
            overflow: hidden;
            padding: 120px 40px 0;
            position: relative;
        }

        .container {
            max-width: 1400px;
        }
    </style>
</head>
<body class="metro">
    @Html.Partial("_footer")
    <!--@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")-->

    @RenderSection("scripts", required: false)

    @Html.Partial("_header")

    <div class="grid container">
        @RenderBody()

    </div>
</body>
</html>
